# Required
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your.email@company.com

# Optional
SNOWFLAKE_ROLE=your_role
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA=your_schema
